body {
  background-color:#fcfcfc;
  font-family: 'Montserrat', sans-serif;
}

.pink{
  background-color: pink;  
}

.green{
    background-color: green;
}

.foodWell{
  background-color: yellow;
  border: none;
  border: 1px solid black;
}

.foodWell h1{
  color: red;
  text-align: center;
}


.foodImg{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15px;
  border: solid white 2px;
}

.foodHeader{
  text-align: center;
}
.foodName{
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.foodDescription{
  color: black;
  text-align: center;
}

.foodPrice{
  color: black;
  text-align: center;
}

/* css for green background */
.green {
  background: #37752A;
  font-family: 'Montserrat', sans-serif;
}

/* making food item size */
.foodItem{
  margin: 0 auto;
  list-style-type:none;
  padding:0px;
  text-align: center
}


.foodHolder{
  border: 2px solid black;
  height: 440px;
  min-height: 500px;
  max-height: 500px;
  overflow-x: hidden;
}
/* css for pink background */
.pink {
  background: #A02452;
  font-family: 'Montserrat', sans-serif;
}


/* css for orange background */
.orange {
  background: #A9461F;
  font-family: 'Montserrat', sans-serif;
}


.panel {
  border: 2px solid white;
  height: 150px;
  display:flex;
  align-items:center;
  justify-content:center;
  -moz-box-shadow: 1px 3px 5px #000000;
  -webkit-box-shadow: 1px 3px 5px #000000;
  box-shadow: 1px 3px 5px #000000;
}

.panel:hover {
  cursor:pointer;
  color:rgba(0,0,0,0.9);
} 

.panel-body {
  text-align:center;
}

.vertical-center {
  margin-top: 67px;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

.margin-top {
  margin-top:25px;
}

img.active {
  display:inline!important;

}
