.foodWell{
	background-color: yellow;
	border: none;
	border: 1px solid black;
}

.foodWell h1{
	color: red;
	text-align: center;
}


.foodImg{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 15px;
	border: solid white 2px;
}

.foodName{
	color: white;
	text-align: center;
}

.foodDescription{
	color: white;
	text-align: center;
}

.green {
    background: #37752A;
}

.green h1 {
    color: #A02452;
    text-shadow: 2px 2px white;
}

.pink {
    background: #A02452;
}

.orange {
    background: #A9461F;
}

.panel {
    border: 2px solid white;
    border-radius: 0px;
}
