/* Space out content a bit */
body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
  color: black;
}

.modal-content {
    background-color: #16818E;

}
.full {
  background: url("https://pixabay.com/static/uploads/photo/2012/04/14/12/52/pattern-33815_960_720.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header{
	background: orange;
	text-align: center;
	padding-bottom: 5px;
}

#pink{
	color: pink;
}

#green{
	color: green;
}