<div class="container">

  <div class="row">

    <div class="holder">

      <div class="col-lg-12">

        <img class="img-responsive center-block"  src="https://cdn4.dogonews.com/images/00396639-c9cb-4562-83cd-3fbb12ba728a/3d-printer-used-to-make-ice-cream.jpg"/>

        <h1 class="phone">
         Contact us at 512-111-111
         
         <a href="tel:1234567" class="phone">
           <li class="visible-xs">Click here to Call: 512-000-0000</li>
         </a>

        </h1>
        
      </div>

      <!-- 
      <div class="col-lg-6 embed-responsive embed-responsive-16by9">
    
        <iframe  class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d7118.851714042528!2d-97.79141440419637!3d30.19722491996592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8644b599a0cc032f%3A0x5d9b464bd469d57a!2sAustin%2C+TX!3m2!1d30.267152999999997!2d-97.7430608!4m5!1s0x8644b353359a5c0f%3A0xc78ca3b7f469127a!2stutty+frutty!3m2!1d30.1975935!2d-97.78549319999999!5e1!3m2!1sen!2sus!4v1468355277287"  height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h1 class="direction">Contact us at 512-111-111</h1>

      </div>
      -->

    </div> <!-- holder -->

  </div> <!-- row -->


</div> <!-- container -->
