<div class="container">

  <div class="row">

    <div class="holder">

      <div class="col-lg-12">

        <img class="img-responsive center-block contactPic"  src="https://cdn4.dogonews.com/images/00396639-c9cb-4562-83cd-3fbb12ba728a/3d-printer-used-to-make-ice-cream.jpg"/>

        <!-- contact for desktop -->
        <h1 class=" phone hidden-xs">
   
           <li class="phone">Call us at : 512-000-0000</li>

        </h1>

        <!-- contact button for mobile -->
        <h1 class=" phone hidden-xl hidden-lg">
         
         <a href="tel:1234567" class="">
           <li class="visible-xs">Click here to Call: 512-000-0000</li>
         </a>

        </h1>
        
      </div>


    </div> <!-- holder -->

  </div> <!-- row -->


</div> <!-- container -->
