<div class="container">

	<div class="row">
		<div ng-repeat="food in gusgueria">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 foodHolder">
				<img  class="foodImg img-responsive" ng-src="{{ food.image }}"/>
				<h1 class="foodName">{{ food.name }}</h1>
				<h3 class="foodDescription">{{ food.description }}</h3>
        <h4 class="foodPrice">{{ food.price | currency }}</h3>
        <button type="button" class="btn btn-primary center-block">Add to cart</button>
			</div>
		</div>

	</div>
</div>
